@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
@import './header.css';
@import './advantages.css';
@import './creations.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Alata', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 24px;
}
